/* Google Font(s) */
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Sans+JP:wght@300&display=swap');


  *{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
  }

  /* Variables */
  :root{
    --primary-color:#f7b58f;
    --secondary-color: #f4f3ea;
    --text-color:#3f648a;
    --bg-color: #fff;
  }

  section{
    padding: 50px 100px;
  }

  img{
    width: 100%;
  }

  body{
    color: var(--text-color);
  }

  header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
    background-color: var(--text-color);
  }
  .logo img{
    width: 30px;
  }

  .navbar{
    display: flex;
  }

  .navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
  }

  .navbar a:hover{
    background: var(--primary-color);
    border-radius: 0.4rem;
    transition: 0.2s all linear;
  }

  #menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }

  .header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10001;
    display: flex;
    column-gap: 0.8rem;
  }

  .home{
    width: 100%;
    min-height: 100vh;
    background-image: url("img/coffeBeans.png");
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
  }

  .home-img{
    width: 40%;
    filter: drop-shadow(10px 10px 20px black);
  }

  .home-text h1{
    font-size: 5rem;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
  }

  .home-text p{
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin: 0.5rem 0 1.4rem;
    font-weight: 400;
  }

  .btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background-color: var(--text-color);
    color: var(--primary-color);
    font-weight: 800;
  }
  .btn:hover{
    background-color: #3e5d7c;
  }


  .about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem, auto));
    gap: 1.5rem;
  }

  .about-img img{
    border-radius: 0.7rem;
  }

  .about-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .about-text p{
    font-size: 1.5rem;
    margin: 0.5rem 0 1.4rem;
  }
  .heading{
    text-align: center;
  }
  .heading h2{
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .productsContainer{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
  }

  .box{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px hsl(0, 2%, 45%);
  }

  .productsContainer img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    border-radius: 0.5rem;
  }

  .box h3{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .content span{
    padding: 0 1rem;
    color: var(--secondary-color);
    background-color: var(--text-color);
    border-radius: 4px;
    font-weight: 500;
  }
  .content a{
    padding: 0 1rem;
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    text-transform: uppercase;
  }

  .content a:hover{
    background-color: var(--text-color);
    color: var(--secondary-color);
    transition: 0.2s all linear;
  }
